
        <header class="header-area">
            <div class="header-bottom transparent-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-5">
                            <div class="logo pt-39">
                                <a href="../main"><img alt="" src="../../assets/img/logo/logo.png"></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7 d-none d-lg-block">
                            <div class="main-menu text-center">
                                <nav>
                                    <ul>
                                        <li><a href="../product">Товар</a></li>
                                        <li><a href="index.html">Корзина</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="mobile-menu-area electro-menu d-md-block col-md-12 col-lg-12 col-12 d-lg-none d-xl-none">
                            <div class="mobile-menu">
                                <nav id="mobile-menu-active">
                                    <ul class="menu-overflow">
                                        <li><a href="../product/index.html">Товар</a></li>
                                        <li><a href="index.html">Корзина</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- shopping-cart-area start -->
        <div class="cart-main-area pt-95 pb-100">
            <div class="container">
                <h3 class="page-title">Your cart items</h3>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <form action="#">
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th>Until Price</th>
                                        <th>Qty</th>
                                        <th>Subtotal</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody class="tbody">
<!--                                    <tr>-->
<!--                                        <td class="product-thumbnail">-->
<!--                                            <a href="#"><img src="../../assets/img/basket/cart-3.jpg" alt=""></a>-->
<!--                                        </td>-->
<!--                                        <td class="product-name"><a href="#">Dry Dog Food</a></td>-->
<!--                                        <td class="product-price-cart"><span class="amount">$110.00</span></td>-->
<!--                                        <td class="product-quantity">-->
<!--                                            <div class="cart-plus-minus">-->
<!--                                                <input class="cart-plus-minus-box" type="text" name="qtybutton" value="02" >-->
<!--                                            </div>-->
<!--                                        </td>-->
<!--                                        <td class="product-subtotal">$110.00</td>-->
<!--                                        <td class="product-remove"><a href="#"><i class="ti-trash"></i></a></td>-->
<!--                                    </tr>-->

                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="cart-shiping-update-wrapper">
                                        <div class="cart-shiping-update">
                                            <a href="#">Оформить заказ</a>
                                            <button>Обновить</button>
                                        </div>
                                        <div class="cart-clear">
                                            <a href="#">Очистить корзину</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

		<footer class="footer-area">

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="border-top-1 pt-17 pb-15">
                                <div class="copyright text-center">
                                    <p>Copyright © All Right Reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</footer>


